<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="dblocal" value="Data Source=(local)\SQLEXPRESS; Initial Catalog=AdventureWorks2016CTP3; Integrated Security=SSPI"/>
  </appSettings>
  <connectionStrings>
    <add name="dblocal" connectionString="Data Source=(local)\SQLEXPRESS; Initial Catalog=AdventureWorks2016CTP3; Integrated Security=SSPI" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>